body {
  font-size: 16ps;
  color: #fff;
  background-color: #fdf6ec;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#header-nav {
  background-color: #dab88b;
  border-radius: 0;
  border: 0;
  border-bottom: black 1px solid;
}

.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(132, 132, 132);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
  padding-left: 25px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  color: F3E9DD;
  margin: 0;
}
#nav-list li {
  text-align: center;
  border-top: black 1px solid;
  background-color: #f8e9dd;
}

.navbar-header button.navbar-toggle {
  clear: right;
  padding: 10px;
  vertical-align: center;
}

#navlist a {
  background-color: #f8e9dd;
}
#collapsable-nav {
  padding: 0;
}

#main-content {
  color: black;
  padding: 0;
}

.row {
  margin: 15px;
}

.content-box {
  margin: 15px;
  color: black;
  background-color: #f8e9dd;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 15px 15px 5px 15px;
}

.item-name {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

p > a {
  padding-left: 5px;
}
